body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #e555e0, #499950);
}

.card{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    text-align: center;
}

.input-container{
    margin-bottom: 10px;
}

span{
    font-size: 40px;
}

button{
    cursor: pointer;
    border: none;
    background-color: lightgreen;
    padding: 5px;
}

button:hover{
    background-color: #499950;
}